body {
    background-color: #fff;
    position: relative;
}
@media only screen and (min-width: 992px) {
    body:before {
        border-top: 5px #46c1bd dashed;
        border-right: 5px #46c1bd dashed;
        border-top-right-radius: 50px;
        width: 10%;
        height: 400px;
        content: '';
        position: absolute;
        bottom: -15px;
        left: 0;
    }
    body:after {
        border-top: 5px #4b3d6f dashed;
        border-right: 5px #4b3d6f dashed;
        border-top-right-radius: 50px;
        width: 15%;
        height: 250px;
        content: '';
        position: absolute;
        bottom: -15px;
        left: 0;
    }
}
@media only screen and (min-width: 1200px) {
    body:before {
        height: 350px;
    }
    body:after {
        height: 225px;
    }
}
@media only screen and (min-width: 1300px) {
    body:before {
        width: 15%;
        height: 400px;
    }
    body:after {
        width: 20%;
        height: 250px;
    }
}
.header {
    background-color: #2e2e25
}
.header .bg-dark {
    background-color: #2e2e25 !important
}
.header .navbar-dark {
    padding-top: 0;
    padding-bottom: 0;
}
.header .navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
}
.header .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.header .nav-item--library,
.header .nav-item--myths {
    flex-grow: 1.5
}
.header .nav-item--mg-glass,
.header .nav-item--locale {
    flex-grow: .5
}
.header .nav-link:hover,
.nav-link--locale {
    background-color: #46c1bd;
}
.header .dropdown-toggle[aria-expanded=true] {
    background-color: #46c1bd;
    margin: -.5rem;
    padding: 1rem;
}
.header .dropdown-menu.show {
    background-color: #46c1bd;
    border-radius: 0;
    border: 0;
    left: -.5rem;
}
.header .dropdown-item:hover {
    background-color: #35b0ac;
}
.header .dropdown-menu.show a:link {
    color: #fff
}
.nav__logos {
    margin-top: 20px;
    padding: 10px 0;
    list-style: none;
    text-align: center;
}
.nav__logo {
    display: inline-block;
}
.nav__logo:not(.nav__logo--main) {
    width: 75px;
}
.nav__logo:not(.nav__logo--main) img {
    width: 100%
}
.nav__logo--main {
    display: block;
    text-align: center;
}
@media only screen and (min-width: 564px) {
    .nav__logo:not(.nav__logo--main) {
        width: 100px;
    }
}
@media only screen and (min-width: 768px) {
    .nav__logo:not(.nav__logo--main) {
        width: 125px;
    }
}
@media only screen and (min-width: 992px) {
    .nav__logos{
        text-align: left;
    }
    .nav__logo--main {
        display: inline-block;
    }
    .nav__logo:not(.nav__logo--main) {
        width: 140px;
    }
}
.slider {
    position: relative;
    background-color: #fff
}
@media only screen and (min-width: 993px) {
    .slider {
        min-height: 300px;
    }
    .slider:after {
        content: '';
        height: 150px;
        width: 30%;
        border-top: 5px dashed #46c1bd;
        border-right: 3px dashed #46c1bd;
        position: absolute;
        bottom: -200px;
        z-index: -5;
        border-top-right-radius: 75px;
    }
}
.slider__banners {
    margin-bottom: 0;
    padding: 0;
    max-height: 600px;
    overflow: hidden;
}
.sliders__banners-image {
    width: 100%;
}
.slider__banner {
    display: none;
}
.slider__banner.item--current {
    display: block;
}
.slider__description--wrapper {
    background-color: #fff;
}
@media only screen and (min-width: 768px) {
    .slider__description--wrapper {
        width: 250px;
        bottom: 20px;
        right: 20px;
        position: absolute;
    }
    .slider__overlay {
        overflow: hidden;
        position: absolute;
        height: 90%;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-top: 5px dashed white;
        border-right: 5px dashed white;
        border-bottom: 5px dashed #46c1bd;
        border-left: 5px dashed #46c1bd;
        border-bottom-left-radius: 80px;
        border-top-right-radius: 80px;
    }
}
.slider__description {
    padding: 20px;
}
.slider__description__item {
    display: none;
}
.slider__description__item.item--current {
    display: block;
}
.slider__description__title {
    text-transform: uppercase;
}
.slider__description__text {
    font-size: .85rem
}
.slider__bullets {
    margin-bottom: 0;
    padding: 0 0 10px 0;
    list-style: none;
    text-align: center;
}
.slider__bullets-item {
    padding: 5px 10px;
    font-size: 1.5rem;
    line-height: 1;
    position: relative;
    display: inline-block;
    color: #ccc;
    cursor: pointer
}
.slider__bullets-item.item--current {
    color: #333
}
.slider__bullets-item--arrow {
    font-size: 2rem
}
.about {
    margin-top: 50px;
    border-top: 5px dashed #fabb21;
    padding-bottom: 50px;
    overflow: hidden;
}
@media only screen and (min-width: 992px) {
    .about {
        margin-top: 160px;
    }
}
.about__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0;
}
@media only screen and (min-width: 768px) /*large breakpoint*/ {
    .about__title {
        font-size: 60px;
    }
}
@media only screen and (min-width: 992px) /*large breakpoint*/ {
    .about__title {
        font-size: 80px;
    }
}
.about__title--primary {
    margin-top: 35px;
    background: #fabb21;
    position: relative;
    color: #fff;
}
.about__title--primary:before {
    content: '';
    width: 100%;
    height: 100%;
    left: -100%;
    background: #fabb21;
    position: absolute;
}
.about__title--primary:after {
    content: '';
    width: 100%;
    height: 100%;
    right: -100%;
    background: #fabb21;
    position: absolute;
}
.about__title--secondary {
    background-color: #fff;
    color: #fabb21;
}
.about__description {
    border-bottom: 5px #46c1bd dashed;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 1.15;
    position: relative;
    color: #5c5b4f;
}
@media only screen and (min-width: 564px) /*xs breakpoint*/ {
    .about__description {
        padding: 0 0 10px 30px;
        border-left: 5px #46c1bd dashed;
        border-bottom-left-radius: 32px;
    }
}
@media only screen and (min-width: 768px) /*sm breakpoint*/ {
    .about__description {
        font-size: 22px;
        padding: 0 0 30px 90px;
        border-bottom-left-radius: 48px;
    }
}
@media only screen and (min-width: 992px) /*md breakpoint*/ {
    .about__description {
        font-size: 28px;
        padding: 0 0 50px 150px;
        border-bottom-left-radius: 80px;
    }
}
.about__description:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 5px;
    left: -100%;
    border-bottom: 5px #46c1bd dashed;
}
@media only screen and (min-width: 564px) /*large breakpoint*/ {
    .about__description:before {
        display: none;
    }
}
.about__description:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 5px;
    right: -100%;
    border-bottom: 5px #46c1bd dashed;
}
.about__description-text {
    margin-bottom: 10px;
}
.about__know-more,
.about__know-more:link,
.about__know-more:visited {
    font-variant: small-caps;
    font-weight: bold;
    color: #605580;
}
.news {
    padding: 10px;
    position: relative;
    overflow: hidden
}
@media only screen and (min-width: 564px) /*xs breakpoint*/ {
    .news {
        padding: 20px;
    }
}
@media only screen and (min-width: 768px) /*xs breakpoint*/ {
    .news {
        padding: 40px;
    }
}
@media only screen and (min-width: 992px) /*sm breakpoint*/ {
    .news {
        padding: 60px;
    }
}
.news--extras .news__item div {
    border: 0;
}
.news--extras .news__item-title {
    padding: 10px;
    margin-bottom: 0;
    font-size: 1rem;
}
@media only screen and (min-width: 992px) {
    .news--extras .news__item-title {
        font-size: 1.25rem;
    }
}
.news--extras .news__item-title--quiz,
.news--extras .news__item-title--quiz a {
    background-color: #46c1bd;
    color: #fff
}
.news--extras .news__item-title--library,
.news--extras .news__item-title--library a {
    background-color: #9f1943;
    color: #fff
}
.news--extras .news__item-title--events,
.news--extras .news__item-title--events a {
    background-color: #fabb21;
    color: #fff
}
.news__layer {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -10;
    background-image: url('assets/vertical-waves.png')
}
@media only screen and (min-width: 992px) {
    .news__layer {
        border-top-left-radius: 60px;
        left: 50px
    }
}
@media only screen and (min-width: 1300px) {
    .news__layer {
        border-top-left-radius: 60px;
        left: 80px
    }
}
.news__title {
    margin-bottom: 50px;
    border-bottom: 2px solid #4b3d6f;
    padding-bottom: 10px;
    color: #4b3d6f;
}
.news__item div {
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
    min-height: 250px;
}
@media only screen and (min-width: 768px) {
    .news__item-wrapper {
        padding: 0 50px
    }
}
@media only screen and (min-width: 1200px) {
    .news__item div {
        min-height: 355px;
    }
}
.news__item-image {
    margin-bottom: 15px
}
.news__item-date {
    margin-bottom: 2px;
    font-size: .75rem;
    line-height: 1;
    color: #4b3d6f;
}
.news__item-title {
    font-size: 1.25rem;
    line-height: 1.15;
    color: #585858;
}
.news__item-actions {
    padding: 30px;
    text-align: center;
}
.news__item-actions .btn {
    padding: 5px 30px 8px;
    border-radius: 20px;
    text-transform: uppercase;
    color: #fff;
}
.references {
    margin-bottom: 50px;
    padding: 20px 0 40px 0;
    background-color: #efefef;
}
.references__car {
    padding: 25px 0;
    position: relative
}
.references__car:before {
    content: '';
    border-top: 5px dashed #4b3d6f;
    width: 100%;
    position: absolute;
    right: calc(30% + 139px);
    top: 37px; 
}
.references__car:after {
    content: '';
    position: absolute;
    right: 30%;
    top: 0;
    background-image: url(assets/car.png);
    height: 76px;
    width: 139px;
}
.references__quotes-wrapper {
    position: relative;
}
@media only screen and (min-width: 768px) {
    .references__quotes-wrapper {
        padding: 0 50px;
    }
}
.references__quote {
    font-size: 24px;
    line-height: 1;
    color: #4b3d6f
}
@media only screen and (min-width: 564px) /*xs breakpoint*/ {
    .references__quote {
        font-size: 36px;
    }
}
@media only screen and (min-width: 768px) /*sm breakpoint*/ {
    .references__quote {
        font-size: 48px;
    }
}
.references__quote:after {
    font-size: 1rem;
    display: block;
    content: attr(data-reference);
    position: absolute;
    right: 25px;
    bottom: -60px;
}
.footer__nav {
    padding: 50px 0;
    background-color: rgb(222,221,219);
    font-size: .75rem;
    text-align: center;
}
.footer__nav p {
    margin-bottom: 0;
}
.footer__nav-links {
    margin-bottom: 5px;
    padding: 0;
    list-style: none;
}
.footer__nav-link {
    border-left: 1px solid rgb(87,87,74);
    display: inline-block;
}
.footer__nav-link:first-child {
    border-left: 0;
}
.footer__nav-link a {
    padding: 0 10px;
    color: rgb(87,87,74);
}
.footer__copyright {
    text-align: center;
    font-size: .675rem;
}
.footer .nav__logos {
    text-align: center;
}

.page-title__text {
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(69, 192, 190);
    padding-bottom: 10px;
    text-transform: uppercase;
    color: rgb(69, 192, 190)
}
.page-title__text .breadcrumb {
    margin-bottom: 0;
    font-size: 14px;
    display: inline-block;
    text-transform: capitalize;
    background-color: #fff;
    vertical-align: middle;
    font-weight: normal;
}
.page-title__text .breadcrumb-item:before {
    padding: 0 4px;
}
.page-title__text .breadcrumb-item.active {
    color: #444;
    font-weight: bold
}
.page-title__text .breadcrumb-item a,
.page-title__text .breadcrumb-item a:hover {
    color: #999;
}
.news-article {
    padding-bottom: 100px;
}
.news-article a,
.news-article a:hover {
    color: rgb(69, 192, 190)
}

.subtitle-promob {
    margin: 10px 0 5px;
    font-size: .85rem;
    text-transform: uppercase;
    color: rgb(250, 186, 31);
}
.news-article__title {
    margin-bottom: 20px
}
.news-article__excerpt {
    color: #666;
    font-style: italic
}
.news-article__time {
    margin: 40px 0;
    font-weight: bold;
}
.news-article__featured-image {
    border-bottom: 1px #aaa solid;
    padding-bottom: 10px;
}
.news-article__author {
    margin-bottom: 40px
}
.news-article__author p {
    margin-bottom: 0
}
.news-article__body figure.float-left {
    max-width: 320px;
    margin-right: 20px;
    border-bottom: 1px #aaa solid;
    padding-bottom: 10px;
}
.news-article__footer {
    margin-bottom: 50px;
}
.news-article__footer strong {
    margin-right: 10px;
}
.news-article__separator {
    margin: 50px 0;
    text-align: center;
}
.news-article__footer-meta p {
    margin-bottom: 0;
}
.news-article__related,
.news-article__comments {
    margin-bottom: 50px;
    border-bottom: 1px #ddd solid;
    padding-bottom: 20px;
}
.news-article__comments {
    border-bottom: 0;
}
.news-article__related-title,
.news-article__comments-title {
    margin-bottom: 20px;
    border-bottom: 2px #000 solid;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.news-article__comments-action {
    font-size: 14px;
    padding-top: 10px;
}
.news-article__comments-body > .media {
    margin-bottom: 20px;
    border-bottom: 1px #ddd solid;
}
.news-article__comments-body .media .media {
    margin-top: 40px !important;
}
.news-article__comments-body h6 {
    font-weight: bold;
    margin-bottom: 0;
}
.news-article__comments-body time {
    font-size: 14px;
    color: #888
}
.news-article__comment-actions a,
.news-article__comment-actions a:hover {
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    color: rgb(69, 192, 190)
}
.news-article__no-comments {
    text-align: center;
    margin: 20px 0;
    color: #888;
}
.news-article__comments-form legend {
    text-transform: uppercase;
}
.news-article__comments-form label {
    color: #444;
    text-transform: uppercase;
}
.news-article__comments-form label span {
    margin-left: 5px;
    color: darkred;
}
.news-article__comments-form-explanation {
    font-size: 12px;
    color: #999
}
.news-article__comments-form button {
        padding-right: 30px;
        padding-left: 30px;
        background-color: rgb(69, 192, 190);
        text-transform: uppercase;
        border-radius: 30px;
        border-color: rgb(69, 192, 190);
}
.card {
    margin-bottom: 40px
}
.card--promob .card-header {
    background-color: rgb(69, 192, 190);
    color: #fff;
    text-transform: uppercase;
}
.card__list,
.card__sublist {
    padding-left: 0px;
    list-style: none;
}
.card__sublist {
    padding-left: 10px
}
.card__list-item:before,
.card__sublist-item:before {
    content: '—';
    margin-right: 10px;
    color: rgb(69, 192, 190);
    font-weight: bold
}
.card--latest-news .card-body {
    padding-bottom: 0;
}
.card--latest-news .card-text {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.card--latest-news .card-body:last-of-type .card-text {
    border: 0;
}