/**media-queires**/
@media only screen and (max-width: 47.99999999999999999em) {
	h2 { font-size:1.25em; }
	h3 { font-size:1.15em; }
	em { font-size:.85em; }
	.main-navigation {
		border-radius: 0;
	}

	.header-title {
		text-align: center;
	}
	#login-dp {
		width: 100%;
	}
	.advertising-insurance {
		margin-left: $margin-blank;
		margin-right: $margin-blank;
	}
}

@media only screen and (min-width: 40em) {
	.header-title-calling {
		display: inline-block;
		font-size: 2em;
		margin: $margin-tiny 0 0 0;
	}
	.header-title small {
		font-size: 1em;
	}
}

@media only screen and (min-width: 48em) {
	.header-title,
	.header-title small {
		text-align: right;
	}
	.header-title-calling {
		font-size: 1em;
		line-height: 1em;
	}
	.header-title small {
		font-size: .5em;
	}
	.nav-tabs.nav-justified > li {
		width: 25%;
	}

	.main-navigation {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.nav-tabs.nav-justified > li
	.nav-tabs.nav-justified > li:first-child > a,
	.nav-tabs.nav-justified > li.active:first-child > a,
	.nav-tabs.nav-justified > li:first-child > a:hover {
		border-top-left-radius: 10px;
		border: 0;
	}
	.nav-tabs.nav-justified > li:last-child > a,
	.nav-tabs.nav-justified > li.active:last-child > a,
	.nav-tabs.nav-justified > li:last-child > a:hover {
		border-top-right-radius: 10px;
		border: 0;
	}

	.nav-tabs.nav-justified > li,
	.nav-tabs.nav-justified > li.active {
		height: 100%;
	}

	.nav-tabs.nav-justified > li > a,
	.nav-tabs.nav-justified > li.active > a {
		height: 100%;
		display: table;
		vertical-align: middle;
		width: 100%;
	}

	.main-network {text-align: left;}
}

@media only screen and (min-width: 62em) {
	.nav-tabs.nav-justified > li {
		float: none;
		display: table-cell;
		width: 1%;
	}
	.nav-tabs.nav-justified > .dropdown .dropdown-menu {
		right:0;
	}

	.inner-content-title > small {
		display: block;
		margin: $margin-half $margin-blank;
	}
	.listing-item {
		min-height: $list-item-medium-size;
	}
}