/**colors**/
$white:       #fff;
$gray:        #ddd;
$main-red:    #b8201b;
$hover-red:   #c9302c;
$main-yellow: #ffe766;
$light-gray:  #ececec;
$dark-gray:   #333;

/**padding**/
$padding-blank:   0em;
$padding-normal:  1em;
$padding-half:    .5em;
$padding-quarter: .25em;
$padding-odd:     .15em;
/**margin**/
$margin-blank:     $padding-blank;
$margin-colossal:  $padding-normal * 5;
$margin-humongous: $padding-normal * 3;
$margin-huge:      $padding-normal * 2;
$margin-big:       $padding-normal * 1.5;
$margin-normal:    $padding-normal;
$margin-small:     $padding-normal * .625;
$margin-half:      $padding-half;
$margin-quarter:   $padding-quarter;
$margin-tiny:      $padding-normal / 8;

$margin-main-network: 10px;

/**sizes**/
$list-item-small-size:  310px;
$list-item-medium-size: 386px;