html, body {
  background-color: #fff;
  color: #222;
}

body {
  margin: 0;
  border: 1rem solid #ececec;
  padding: 2rem;
  font-size: calc(1.15rem + 1vw);
}

.header,
.nav,
.main,
.footer {
  width: 90%;
  margin: 0 auto;

  @media screen and (min-width: 917px) {
    width: 80%;
  }
}

.hero {
  &__title {
    margin: 0;
    font-size: calc(3rem + 10vw);
    line-height: .8;

    @media screen and (min-width: 1327px) {
      font-size: calc(3.5rem + 12vw);
    }

    @media screen and (min-width: 2816px) {
      font-size: calc(3.5rem + 14vw);
    }
  }

  &__subtitle {
    font-size: calc(1.25rem + 5vw);
    color: #555;
  }
}

.nav {
  a {
    margin-right: 1rem;
  }
}