a {
  @apply .break-words;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply .pt-3;
  @apply .font-serif;

  .w-full &:first-child {
    padding-top: 0;
  }
}

h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  @apply .pt-0;
}

.sm\:w-9\/12 {
  a,
  a:link,
  a:visited {
    @apply .bg-gray-200;
  }

  a:hover {
    @apply .bg-gray-300;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  pre,
  code,
  ul,
  ol {
    @apply .pb-5;
  }

  pre > code {
    max-height: 400px;
  }

  code {
    @apply .text-sm;
  }

  p code {
    @apply .inline-block;
    @apply .bg-gray-200;
    @apply .pb-0;
  }

  ul {
    @apply .list-disc;
    @apply .pl-10;

    ul {
      @apply .pl-5;
      @apply .pb-0;
    }
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  p {
    @apply .font-sans;
    @apply .text-base;
    @apply .leading-normal;
    @apply .break-words;
  }

  blockquote {
    @apply .mb-5;
    @apply .p-5;
    @apply .bg-gray-200;
    border-left: solid darkgray 4px;

    p:only-child {
        @apply p-0;
    }
  }
}