html, body {
  background-color: #fff;
  color: #222;
  font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
}

body {
  margin: 0;
  border: 1rem solid #ececec;
  padding: 2rem;
  font-size: calc(1.15rem + 1vw);
}

.header,
.nav,
.main,
.footer {
  width: 90%;
  margin: 0 auto;

  @media screen and (min-width: 917px) {
    width: 80%;
  }
}

p {
  line-height: 1.25;

  @media screen and (min-width: 768px) {
    line-height: 1.5;
  }
}

img {
  margin: 1rem auto;
  width: 100%;
  max-width: 100%;
  display: block;
}

pre {
  overflow-y: scroll;
}

.main {
  margin-bottom: 10rem;
}

.hero {
  margin: 5rem 0;

  &__title {
    margin: 0;
    font-size: calc(3rem + 10vw);
    line-height: .8;

    @media screen and (min-width: 1327px) {
      font-size: calc(3.5rem + 12vw);
    }

    @media screen and (min-width: 2816px) {
      font-size: calc(3.5rem + 14vw);
    }
  }

  &__subtitle {
    font-size: calc(1.25rem + 5vw);
    color: #555;
  }
}

.nav {
  a {
    margin-right: 1rem;
    
    &.nav--active {
      color: black;
      text-decoration: none;
    }
  }
}

.header + .nav {
  margin-bottom: 5rem;

  @media screen and (min-width: 768px) {
    margin-bottom: 7rem;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 10rem;
  }
}

.post__collection-meta {
  font-style: italic;
  font-weight: normal;
}

.footer {
  text-align: center;
}
